body {
    background-image: url(im1.jpg);
}

.uno {
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 30px;
    margin: 20px 500px;
}

.primos {
    padding: 20px 40px;
    background: rgba(204, 37, 37, 0.712);
    border-radius: 20px;
    font-size: 25px;
    color: azure;
}